@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: calc(10px + 3vmin);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  min-height: 100vh;
  height: 100%;
}

main {
  width: 100%;
}

.editor {
  padding: 0 calc((100% - 731px) / 2);
  height: 100%;
}

.h1 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 3rem;
  font-weight: 600;
  margin-block-start: 2.5rem;
  line-height: 1;
}
.h2 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 2.5rem;
  font-weight: 500;
  margin-block-start: 2.5rem;
  line-height: 1;
}
.h3 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 2rem;
  font-weight: 500;
  margin-block-start: 2rem;
  line-height: 1;
}
.h4 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 1.75rem;
  font-weight: 500;
  margin-block-start: 2rem;
  line-height: 1;
}
.h5 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-start: 2rem;
  line-height: 1;
}
.h6 {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-start: 2rem;
  line-height: 1;
}
.p {
  font-family: "Source Serif Pro", "Garamond", "cursive";
  font-size: 1em;
  line-height: 1.75;
}
