header {
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 1.3px 2.2px rgba(210, 105, 30, 0.025) inset,
    0px 3.1px 5.3px rgba(210, 105, 30, 0.036) inset,
    0px 5.8px 10px rgba(210, 105, 30, 0.045) inset,
    0px 10.3px 17.9px rgba(210, 105, 30, 0.054) inset,
    0px 19.2px 33.4px rgba(210, 105, 30, 0.065) inset,
    0px 46px 80px rgba(210, 105, 30, 0.09) inset;

  margin: 1em;
  padding: 0.25em 0.5em 0.25em 0.25em;
  border-radius: 50px;
  color: chocolate;
}

header a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

header a:hover {
  color: coral;
}

a:visited {
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  width: 8vw;
  max-width: 80px;
}

.publisher-link {
  display: flex;
  align-items: center;
}
.publisher-link p {
  font-size: 0.75em;
  margin: 0;
  padding: 0.5em;
  border-radius: 2.5em;
  background: bisque;
  border: 2px solid chocolate;
}

.publisher-link a:hover p {
  border-color: coral;
}
