a:visited {
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  margin-right: 0.3em;
  max-width: 160px;
}

.publisher-link {
  display: flex;
  align-items: center;
}
.publisher-link p {
  font-size: 0.5em;
  margin: 0;
  padding: 0.5em;
  border-radius: 2.5em;
  background: bisque;
  border: 2px solid chocolate;
}

.publisher-link a:hover p {
  border-color: coral;
}
