.post {
  font-size: calc(14px + 0.5vmin);
  line-height: calc(1.1em + 0.8vmax);
  padding: 0 7vmin;
  letter-spacing: -0.008em;
  color: #93440b;
}

.post h1 {
  font-size: calc(14px + 3vmin);
  line-height: calc(1.1em + 0.8vmax);
  margin: 1em 0;
}

.post h2 {
  font-size: calc(14px + 2vmin);
  line-height: calc(1.1em + 0.8vmax);
  margin: 1em 0;
}

.post h3 {
  font-size: calc(14px + 1vmin);
  line-height: calc(1.1em + 0.8vmax);
  margin: 1em 0;
}

.post p {
  font-size: calc(14px + 0.5vmin);
  line-height: calc(1.1em + 0.8vmax);
  margin: 4vmin 0;
  max-width: 70vmax;
}
.post a {
  color: chocolate;
}

.post a:hover {
  color: coral;
}

.post pre {
  font-family: monospace;
  font-size: 0.75em;
  background: antiquewhite;
  padding: 2em;
  border-radius: 30px;
  box-shadow: 0px 1.3px 2.2px rgba(210, 105, 30, 0.025) inset,
    0px 3.1px 5.3px rgba(210, 105, 30, 0.036) inset,
    0px 5.8px 10px rgba(210, 105, 30, 0.045) inset,
    0px 10.3px 17.9px rgba(210, 105, 30, 0.054) inset,
    0px 19.2px 33.4px rgba(210, 105, 30, 0.065) inset,
    0px 46px 80px rgba(210, 105, 30, 0.09) inset;
  overflow-x: scroll;
}

.post ol,
.post ul {
  padding-left: 2em;
  list-style: auto;
}

.post ol {
  list-style: decimal;
}

.post ul {
  list-style: disc;
}
