.publishers {
  margin: 0 auto;
  width: 80%;
}

.publishers h3 {
  font-size: 0.75em;
  margin: 0.75em 0;
}

.publishers h3,
.publishers p {
  font-size: 0.75em;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  background: bisque;
  border: 2px solid chocolate;
}

.publishers a {
  text-decoration: none;
}

.publishers li {
  margin: 1em 0;
}
